In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt

In [49]:
df = pd.read_csv('data/15minute_data_austin.csv')
df.head()

,dataid,local_15min,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
0,661,2018-11-21 15:15:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.915,124.277
1,661,2018-11-21 15:30:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.959,124.293
2,661,2018-11-21 15:45:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.886,124.240
3,661,2018-11-21 16:00:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.880,124.175
4,661,2018-11-21 16:15:00-06,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,123.633,124.226

In [52]:
def clean_up_dataset(dataframe):
    sorted_df = dataframe.sort_values(by= ['local_15min'])
    all_sorted_time = sorted_df['local_15min'].unique()
    time_ids = {}
    unique_ids = {}
    counter = 0
    dataframe = dataframe.fillna(0)
    for i in all_sorted_time:
        time_ids.update({i: counter})
        unique_ids.update({counter: i})
        counter += 1

    def get_front_back(df, date):
        if time_ids[date] - 1 > 0:
            back = unique_ids[time_ids[date] - 1]
            #while len(df[df['local_15min'] == back]) == 0:
                #back = unique_ids[time_ids[back] - 1]
        else:
            back = date
        if time_ids[date] + 1 < 35035:
            front = unique_ids[time_ids[date] + 1]
            #while len(df[df['local_15min'] == front]) == 0:
                #front = unique_ids[time_ids[front] + 1]
        else:
            front = date
        return (df[df['local_15min'] == front]['grid'], df[df['local_15min'] == back]['grid'])
    
    def missing_times(lst1, lst2):
        # takes unique list and finds the difference in other list
        return list(set(lst1).difference(lst2))
    
    time_labels = []
    grid_interpret = []
    data_labels =[]
    for k in dataframe['dataid'].unique():
        print(k)
        cur_mis = missing_times(all_sorted_time, dataframe[dataframe['dataid'] == k]['local_15min'].unique())
        for j in cur_mis:
            #(fbg, cfg) = get_front_back(dataframe[dataframe['dataid'] == k], j)
            time_labels += [j]
            grid_interpret += [0]
            data_labels += [k]
    dataframe.append({'local_15min': time_labels, 'grid': grid_interpret, 'dataid': data_labels},
                    ignore_index = True)
    
    return dataframe

In [54]:
cleaned = clean_up_dataset(df)

661
1642
2335
2361
2818
3039
3456
3538
4031
4373
4767
5746
6139
7536
7719
7800
7901
7951
8156
8386
8565
9019
9160
9922
9278

In [55]:
cleaned

,dataid,local_15min,air1,air2,air3,airwindowunit1,aquarium1,bathroom1,bathroom2,bedroom1,...,sprinkler1,sumppump1,utilityroom1,venthood1,waterheater1,waterheater2,wellpump1,winecooler1,leg1v,leg2v
0,661,2018-11-21 15:15:00-06,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.915,124.277
1,661,2018-11-21 15:30:00-06,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.959,124.293
2,661,2018-11-21 15:45:00-06,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.886,124.240
3,661,2018-11-21 16:00:00-06,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.880,124.175
4,661,2018-11-21 16:15:00-06,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.633,124.226
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873281,9278,2018-12-31 22:45:00-06,0.042,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.033,123.293
873282,9278,2018-12-31 23:00:00-06,0.040,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.991,123.429
873283,9278,2018-12-31 23:15:00-06,0.041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.024,123.451
873284,9278,2018-12-31 23:30:00-06,0.041,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,123.027,123.433
873285,9278,2018-12-31 23:45:00-06,0.039,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,122.939,123.402